<%= form_with model: @blog do |form| %>
<%= form.label :title, 'Enter Blog Title' %>
  <%= form.text_field :title %>
  <br />
  <br />
  <%= form.label :content, 'Enter Blog Content' %>
  <%= form.text_area :content, size: "60x10" %>
  <%= form.submit 'Create New Post' %>
  <% end %>
  <p> <%= link_to 'home', blogs_path %></p>

